/* Slick carousel styles */
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Default light mode */
body {
  background-color: #f9fafb; 
  color: #111827;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Dark mode */
html.dark body {
  background-color: #111827;
  color: #f9fafb;
}